.d-flex select {
  margin-bottom: 10px; }

.d-flex .text {
  width: 40%; }

.d-flex button {
  width: 15%;
  margin: 0 2.5%;
  background: none;
  border: none; }
  .d-flex button:hover {
    cursor: pointer; }
  .d-flex button:focus {
    outline: none; }
  .d-flex button img {
    width: 100%; }

.d-flex .block {
  width: 40%; }
