.d-flex {
    select {
        margin-bottom: 10px;
    }
    .text {
        width: 40%;
    }
    button {
        width: 15%;
        margin: 0 2.5%;
        background: none;
        border: none;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
        img {
            width: 100%;
        }
    }
    .block {
        width: 40%;
    }
}